[flake8]
ignore =
    # 'toml' imported but unused
    F401,
    # closing bracket does not match visual indentation
    E124,
    # continuation line over-indented for hanging indent
    E126,
    # visually indented line with same indent as next logical line,
    E129,
    # line break before binary operator
    W503,
    # line break after binary operator
    W504

indent-size = 2
max-line-length = 80
