[flake8]
ignore =
    # continuation line over-indented for hanging indent
    E126,
    # visually indented line with same indent as next logical line,
    E129,
    # line break after binary operator
    W504

exclude =
    yapf/yapflib/py3compat.py

disable-noqa 
indent-size = 2
max-line-length = 80
