# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test with pytest

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.7", "3.11", "3.12"]  # no particular need for 3.9 or 3.10
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c  # v4.6.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Upgrade pip
      run: >-
        python -m pip install
        --upgrade
        --disable-pip-version-check
        pip
    - name: Perform package installs
      run: >-
        pip install
        .
        pytest
        pytest-cov
    - name: Test with pytest
      run: pytest
